// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::after,
*::before {
    box-sizing: border-box;
}
.refine-search{
  width: 100%;
}

hr {
    width: 263px;
}

li {
    list-style: none;
    line-height: 32px;
    padding-left: 40px;
}

ul {
    padding: 0;
    background-color: white;
    margin-left: -15px;
    width: 290px;
}

body {
    background-color: #F5F5F1;
}
// img {
//   max-width: 100%;
// }

.navbar-form .form-control {
    position: relative;
    width: 480px;
    margin-bottom: 0;
    border-right: none;
}

.navbar-form {
    padding-left: 300px;
    margin-top: 20px;
}

.header {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    height: 80px;
}

.header > img {
    margin-left: 180px;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
    right: 152px;
    height: 34px;
    width: 80px;
    color: white;
    background-color: #34A8C4;
    border-left: none;
}

h5 {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
}

.btn {
    background-color: #269EBE;
    color: white;
}

.glyphicon {
    font-size: 30px;
    top: 11px;
    padding-left: 16px;
}

.top-right-menu {
    margin-left: 10px;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 4px 8px;
    font-size: 16px;
    line-height: 1.33333;
    border-radius: 6px;
    margin-left: 10px;
    background-color: white;
}

.sell-on-etsy {
    font-size: 14px;
    margin-left: 360px;
    color: #0192B5;
}

.etsy-logo-img {
    width: 75px;
}
// #etsy-logo{
//   background-repeat: no-repeat;
//   z-index: 900;
//   background-image: url(https://www.etsy.com/assets/dist/images/etsylogo.20170111162343.png);
// }

.topmenu {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    margin-bottom: 30px;
    padding-left: 226px;
}

.topmenu > span {
    margin-left: 20px;
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topmenu > .special {
    margin-left: 130px;
    color: #777;
}

.categories {
    padding-top: 10px;
}

.location {
    background-color: white;
    padding-bottom: 10px;
}

.product-tile {
    margin-bottom: 20px;
}

.hbimage {
    position: relative;
    min-width: 100%;
}

.hbtitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hbprice {
    float: right;
    right: 25px;
    position: absolute;
    color: #6BBA31;
}

.btn-red{
  background-color: #F60025;
  margin: 0px;
  padding: 10px;
}

.btn-orange{
  background-color: #FF7300;
  margin: 0px;
  padding: 10px;
}

.btn-yellow{
  background-color: #F3C600;
  margin: 0px;
  padding: 10px;
}

.btn-green{
  background-color: #00BC00;
  margin: 0px;
  padding: 10px;
}

.btn-blue{
  background-color: #00C5F4;
  margin: 0px;
  padding: 10px;
}

.btn-purple{
  background-color: #9D00F5;
  margin: 0px;
  padding: 10px;
}

.btn-black{
  background-color: black;
  margin: 0px;
  padding: 10px;
}

.btn-white{
  background-color: #FFFFFF;
  margin: 0px;
  padding: 10px;
}

.form-control2{
  width: 555px;
  height: 34px;
}

.emailbar{
  padding-left: 520px;
}

.btn2{
  background-color: #269EBE;
  color: white;
  left: 20px;
  height: 34px;
  width: 120px
}

.bottom-hr{
  width: 90%;
}

// .hbpicture{
//   min-width: 100%;
//   width: 225px;
//   height: 170px;
// }
